In [1]:
print("오늘 파이썬 배우기 좋은 날이네!")

오늘 파이썬 배우기 좋은 날이네!

###### 변수 이름 규칙

소문자, 대문자, 숫자, 한글도 가능(비추), 특수기호는 언더바 _ 만 가능

숫자는 맨 처음에 올 수 없고 예약어 사용 불가

###### 주요 데이터 타입
- int
- float
- str
- bool

In [5]:
type(1)

int

In [6]:
type(True)

bool

In [7]:
a = None
type(a)

NoneType

In [9]:
a = 2

if a > 10:
    print("10보다 크다")
elif a > 5:
    print("5보다 크다")
elif a > 3:
    print("3보다 크다")
else:
    print("3보다 작거나 같다")

3보다 작거나 같다

In [12]:
myList = [1,2,3,4,5]
for i in myList:
    print(i)

1
2
3
4
5

In [13]:
for i in (2,4,5,8,9):
    print(i)

2
4
5
8
9

In [14]:
mytuplelist = [('김동현', 27), ('김조현', 24), ('김승현', 22)]
for mytuple in mytuplelist:
    print(mytuple[0], mytuple[1])

김동현 27
김조현 24
김승현 22

In [19]:
for name, age in mytuplelist:
    print(name, age)

김동현 27
김조현 24
김승현 22

In [17]:
mydict = {'하마' : 10, '펭귄' : 7, '기린' : 23}
for key in mydict.keys():
    print(key)

하마
펭귄
기린

In [20]:
for value in mydict.values():
    print(value)

10
7
23

In [22]:
for name, age in mydict.items():
    print(name, age)

하마 10
펭귄 7
기린 23

In [23]:
for c in "World":
    print(c)

W
o
r
l
d

In [24]:
for i in range(1,15,3):
    print(i)

1
4
7
10
13

In [28]:
cnt = 1

while True:
    print(cnt)
    cnt += 1
    if cnt > 7:
        break

1
2
3
4
5
6
7

###### 함수
- 인수(argument) : 값, 변수, 참조 등 전달되는 값
- 매개변수(parameter) : 함수 등에서 사용되는 전달된 값을 받는 변수

In [29]:
def sum_func(a, b):
    return a+b

sum_func(10, 20)

30

3번째 줄의 10, 20은 인수, 첫 줄의 a, b는 매개변수

In [31]:
# 키워드 인수
sum_func(b = 7, a = 3)

10

###### 기본 매개변수
- 매개변수에 기본 값을 지정 할 수 있다
- 기본 값을 지정한 인수에는 값을 생략할 수 있다.
- 기본 값을 지정한 인수는 위치 인수보다 뒤쪽에 위치해야 한다.

In [2]:
def add_func(b, c, a = 0):
    return a+b+c

###### 가변 매개변수
가변 매개변수 함수란, 매개변수의 개수가 유동적으로 변하는 함수

1. 가변 매개변수는 한 함수에서 하나만 사용할 수 있다.
2. 가변 매개변수는 무조건 매개변수의 맨 마지막에 들어가야 한다.

In [33]:
def func(arg1, arg2, *args):
    print(arg1)
    print(arg2)
    print(args)
    
func(0,1,2,3,4,5,6,7,8,9)

0
1
(2, 3, 4, 5, 6, 7, 8, 9)

###### 매개변수 정리
"일반 매개변수 - 가변 매개변수 - 기본 매개변수(default 값이 지정된 매개변수)" 순서로 선언

기본 매개변수에 값을 전달할 때에는 매개변수의 이름을 직접 입력해서 전달(print의 end 처럼!)

기본 매개변수는 이름이 지정되어 있기 때문에 그것들끼리는 순서가 무관

In [34]:
def function(arg1, arg2, *args, a = 10, b = 20):
    print(arg1, arg2)
    print(args)
    print(a, b)
    
function(0,1,2,3,4,5,6,7,8,9,10,b = 24)

0 1
(2, 3, 4, 5, 6, 7, 8, 9, 10)
10 24

###### dict 인수
- 여러 개의 인수를 전달 받을 수 있고, 전달 받은 인수를 딕셔너리 형식으로 저장
- dict 매개변수로 받은 인수는 반복문으로 처리하는 것이 일반적

In [37]:
def add_function(**kwargs):
    total_age = 0
    for name, age in kwargs.items():
        print(f'이름 : {name}, 나이 : {age}')
        total_age += age
    print('==='*5)
    print(f'전체 나이의 합계 : {total_age}')

In [38]:
add_function()

===============
전체 나이의 합계 : 0

In [39]:
add_function(lee = 5)

이름 : lee, 나이 : 5
===============
전체 나이의 합계 : 5

In [40]:
add_function(john = 10, peter = 12, kim = 24)

이름 : john, 나이 : 10
이름 : peter, 나이 : 12
이름 : kim, 나이 : 24
===============
전체 나이의 합계 : 46

In [43]:
person = {'kate' : 7, 'rachel' : 10, 'park' : 18}
person

{'kate': 7, 'rachel': 10, 'park': 18}

In [44]:
add_function(**person)

이름 : kate, 나이 : 7
이름 : rachel, 나이 : 10
이름 : park, 나이 : 18
===============
전체 나이의 합계 : 35

딕셔너리를 인수로 지정해서 함수를 호출하는 경우에는 앞에 ** 을 붙여줍니다.

###### 문자열

자주 사용되는 문자열 내장 함수 : count(), find(), index()
- count() : 세고 싶은 문자열 조각이 문자열에 몇 번 들어있는 지 세어서 반환
- find() : 찾고자 하는 문자열 조각의 시작 위치 인덱스 반환
- index() : find()와 동일한 기능

In [12]:
string = "i am happy"
print(string.count("happy"))
print(string.find("happy"))
print(string.index("am"))

1
5
2

대문자/소문자

- str.upper() : str을 대문자로 출력
- str.lower() : str을 소문자로 출력
- str.isupper() : str이 대문자인지 검사 (True / False 반환)
- str.islower() : str이 소문자인지 검사(True / False 반환)

In [15]:
# 대문자는 소문자로, 소문자는 대문자로 출력하기

string = "Apple, IPhone13"

for i in string:
    if i.islower():
        print(i.upper(), end="")
    elif i.isupper():
        print(i.lower(), end="")
    else:
        print(i, end="")

aPPLE, ipHONE13

문자열 split / join

- split 함수는 괄호 안에 아무 값도 넣어 주지 않으면 공백(스페이스, 탭, 엔터 등)을 기준으로 문자열을 나누어 준다.

- split(":") 처럼 괄호안에 특정 값이 있을 경우에는 괄호 안의 값을 구분자로 해서 문자열을 나눠준다.

- 이렇게 나누어진 값은 리스트에 하나씩 들어간다.

In [17]:
string = "I became a zombie"
print(string.split(' '))

['I', 'became', 'a', 'zombie']

In [19]:
str_ = "str and join practice string"
str_ = str_.split(" ")
print(str_)

str_ = ('-').join(str_)
print(str_)

['str', 'and', 'join', 'practice', 'string']
str-and-join-practice-string

In [20]:
a = ['green', 'pyhton', 'example', 'school']
result = ".\n".join(a)
print(result)

green.
pyhton.
example.
school

파일 열고 읽기

In [52]:
f = open("practice.txt", "a")
f.write("hello")

5

리스트/딕셔너리/튜플